schemes/xmllexicon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
    jxb:version="2.0">

<xsd:element name="xmllexicon" type="RawLexicon" />

<xsd:complexType name="RawLexicon">
    <xsd:sequence>
        <xsd:element name="entry" type="entryType" maxOccurs="unbounded" />
    </xsd:sequence>
</xsd:complexType>

<xsd:complexType name="entryType">
    <xsd:sequence>
        <xsd:element name="type" type="xsd:string" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="form" type="xsd:string" />
</xsd:complexType>

</xsd:schema>

